.logo{
    width: 10%;
    height: 5px;   
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}
.navegador {
  padding-top: 30px;
  box-sizing: border-box;
}
/* .imagen {
    max-width: 100%;
    max-height: 100%;
   }
   .cat {
    height: 100px;
    width: 100px;
   } */