<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
        <!--Meter el logo de la página de la fortaleza-->
      <div class="logo">
        <img src="../../../assets/img/fortress-s.png" alt="" routerLink="home">
      </div>

      <nav class="rk-navigation navegador">
        <ul class="rk-menu">
          <!-- Redireccionamiento -->
          <li class="rk-menu__item"><a routerLinkActive="active" routerLink="home" class="rk-menu__link">Inicio</a></li>

          <li class="rk-menu__item"><a routerLinkActive="active" routerLink="about" class="rk-menu__link">Acerca de</a></li>

          <li class="rk-menu__item"><a routerLinkActive="active" routerLink="products" class="rk-menu_link">Productos & Servicios</a></li>
        </ul>
        <div class="rk-search">

          <input type="text"
          (keyup.enter)="buscarProducto(txtBuscar.value)"
          #txtBuscar
          placeholder="Buscar..."
          id="urku-search"
          class="rk-search-field">
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div>
      </nav>
    </div>
  </header>
