<header>
  <section class="imagen-header">
    <img src="../../../assets/img/main/logo-ow.png" alt="">
  </section>
  <!-- <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
      style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #fff;"></path>
    </svg></div> -->
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!-- <br><br><br><br><br><br><br><br><br><br> -->

<main>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">Sobre Nosotros</h2>
    <div class="contenedor-sobre-nosotros">
      <img src="https://firebasestorage.googleapis.com/v0/b/fortress-solitude.appspot.com/o/Raul_Ezero.jpg?alt=media&token=9811bbae-c725-49fa-bddb-375df32b71de" alt="" class="imagen-about-us">
      <div class="contenido-textos">
        <h3><span></span>¿Por qué la fortaleza?</h3>
        <p>La idea nace de un viejo arcade al que ibamos de jovenes, nos daban un menú y siempre nos atendian de una forma maravillosa.
          Así que pensé la vida es muy corta para estar siempre solos, así que por qué no estar solos juntos.
        </p>
        <h3><span></span>¿Para quién está dirigido?</h3>
        <p>Es un lugar para todos, no importa quién seas, siempre serás bienvenido aquí. Pero
          aquellos que saben lo que es sentirse solos y aislados serán los que mejor se sentirán
          aquí.
        </p>
      </div>
    </div>
  </section>

  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">Productos y servicios</h2>
      <div class="galeria-port">

        <div class="imagen-port" *ngFor="let servicios of infoService.servicios">
          <img src="{{servicios.url}}" alt="">
          <div class="hover-galeria">
            <img src="https://firebasestorage.googleapis.com/v0/b/fortress-solitude.appspot.com/o/icono1.png?alt=media&token=898e722e-66b8-4006-a5a9-96c570bf9768" alt="" routerLink='/products'>
            <p>{{servicios.nombre}}</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Sección de clientes -->
  <section class="clientes contenedor">

    <h2 class="titulo">Que dicen nuestros clientes</h2>
    <div class="cards">

      <div class="card" *ngFor="let persona of infoService.clientes">
        <img src="{{ persona.url }}" alt="">
        <div class="contenido-texto-card">
          <h4>{{persona.nombre}}</h4>
          <p>{{persona.comentario}}</p>
        </div>
      </div>

    </div>
  </section>

</main>
